.ansible/
*.tar.gz
*.zip
.DS_Store
__pycache__/
*.pyc
.pytest_cache/
.molecule/
docs/_build/
.cache/
.tmp-collections/
importer_result.json
ansible_collections/
changelogs/fragments/*.yml
changelogs/fragments/*.yaml
