[defaults]
collections_paths    = ~/.ansible/collections:/usr/share/ansible/collections
roles_path           = ~/.ansible/roles:/usr/share/ansible/roles
host_key_checking    = False
retry_files_enabled  = False
interpreter_python   = auto_silent
remote_tmp           = /tmp/.ansible/tmp
stdout_callback      = yaml

[ssh_connection]
pipelining           = True
ssh_args             = -o ControlMaster=auto -o ControlPersist=60s -o ForwardX11=no
